@{
	Layout = "~/Views/Shared/_ots.cshtml";

}
@section MetaData {
	@if (ViewBag.CmsData != null)
	{
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta property="og:title" content="@ViewBag.CmsData.MetaTitle" />
		<meta property="og:description" content="@ViewBag.CmsData.MetaDesc" />
		<meta property="og:image" content="" />
		<meta name="description" content="@ViewBag.CmsData.MetaDesc">
		<meta name="keywords" content="@ViewBag.CmsData.MetaKeys">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>@ViewBag.CmsData.MetaTitle</title>
	}
}

@section innerbanner {

}


@section newbanner {
	<partial name="_NavBarPartial" />
}



		<!-- Main Start -->
<div id="main">
	<div class="content-sec" style="padding: 30px 0 20px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p>online tests are a useful source of self examination which can evaluate your level of preparations and IQ. These tests are designed with the objective to provide a platform of effective standardized tests to students and also to make them understand pattern of multiple choice questions (MCQs) in board examinations. The students who indulge in online tests can measure their academic ability without presence of a tutor or instructor. They can work on their weaknesses and understand an effective way of learning. The students can evaluate and enlist the portions of books and unread topics by conclusion of these online tests. They can further study to compensate the remaining and left out portion of their examination preparations of every chapter.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="new-ads-sec">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="my-ads" id="slider1" style="display:none;">
						<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8866825487085085" data-ad-slot="7449924963" data-ad-format="auto" data-full-width-responsive="true"></ins>
						<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content-sec level-wise">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>Online Test for Class</h2>
					<p>Explore by Class</p>
					<ul class="ss-class-list" style="padding-bottom: 20px;">
						<li>
							<a href="#">
								<div class="inner-text">
									<span>Test for Class</span>
									<strong>5th</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="sh-red">
								<div class="inner-text">
									<span>Test for Class</span>
									<strong>6th</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="sh-green">
								<div class="inner-text">
									<span>Test for Class</span>
									<strong>7th</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="sh-purple">
								<div class="inner-text">
									<span>Test for Class</span>
									<strong>8th</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="sh-blue">
								<div class="inner-text">
									<span>Test for Class</span>
									<strong>9th</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="inner-text">
									<span>Test for Class</span>
									<strong>10th</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="sh-red">
								<div class="inner-text">
									<span>Test for Class</span>
									<strong>11th</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="sh-green">
								<div class="inner-text">
									<span>Test for Class</span>
									<strong>12th</strong>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-12">
					<h2>Online Test for Preparations</h2>
					<p>Explore by entry test</p>
					<ul class="ss-class-list" style="padding-bottom: 20px;">
						<li>
							<a href="#">
								<div class="inner-text">
									<span>preparations for</span>
									<strong>NAT I</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="sh-red">
								<div class="inner-text">
									<span>preparations for</span>
									<strong>NAT II</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="sh-green">
								<div class="inner-text">
									<span>preparations for</span>
									<strong>CSS</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="sh-purple">
								<div class="inner-text">
									<span>preparations for</span>
									<strong>ECAT</strong>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-12">
					<h2>Online Test for GK & Job Tests</h2>
					<p>Explore by GK & Jobs</p>
					<ul class="ss-class-list" style="padding-bottom: 20px;">
						<li>
							<a href="#">
								<div class="inner-text">
									<span>Test for</span>
									<strong>G.K</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="sh-red">
								<div class="inner-text">
									<span>Test for</span>
									<strong>MDCAT</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="sh-green">
								<div class="inner-text">
									<span>Test for</span>
									<strong>GAT General</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="sh-purple">
								<div class="inner-text">
									<span>Test for</span>
									<strong>GAT Subject</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="sh-blue">
								<div class="inner-text">
									<span>Test for</span>
									<strong>Jobs</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="inner-text">
									<span>Test for</span>
									<strong>UV</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="sh-red">
								<div class="inner-text">
									<span>Test for</span>
									<strong>PPCS</strong>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="content-sec" style="background: #f9f9f9; padding-bottom: 0;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="ss-ads" style="border: 0; padding-top: 0; margin: 0 0 30px 0;">
						<li>
							<a href="#" aria-label="ads"><img src="https://images.ishallwin.com/1.webp" alt="" /></a>
						</li>
						<li>
							<a href="#" aria-label="ads"><img src="https://images.ishallwin.com/2.webp" alt="" /></a>
						</li>
						<li>
							<a href="#" aria-label="ads"><img src="https://images.ishallwin.com/3.webp" alt="" /></a>
						</li>
						<li>
							<a href="#" aria-label="ads"><img src="https://images.ishallwin.com/4.webp" alt="" /></a>
						</li>
					</ul>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12">
					<h2>Special Quizzes</h2>
					<p>Explore by tpe of entry test</p>
					<ul class="admission-nav quizze-list">
						<li>
							<a href="#">
								<figure>
									<img src="https://images.ishallwin.com/ot-images/quizz-1.webp" alt="">
								</figure>
								<span>Sports</span>
							</a>
						</li>
						<li>
							<a href="#">
								<figure>
									<img src="https://images.ishallwin.com/ot-images/quizz-2.webp" alt="">
								</figure>
								<span>Pakistan</span>
							</a>
						</li>
						<li>
							<a href="#">
								<figure>
									<img src="https://images.ishallwin.com/ot-images/quizz-3.webp" alt="">
								</figure>
								<span>Religions</span>
							</a>
						</li>
						<li>
							<a href="#">
								<figure>
									<img src="https://images.ishallwin.com/ot-images/quizz-4.webp" alt="">
								</figure>
								<span>Politics</span>
							</a>
						</li>
						<li>
							<a href="#">
								<figure>
									<img src="https://images.ishallwin.com/ot-images/quizz-5.webp" alt="">
								</figure>
								<span>Entertainment</span>
							</a>
						</li>
						<li>
							<a href="#">
								<figure>
									<img src="https://images.ishallwin.com/ot-images/quizz-6.webp" alt="">
								</figure>
								<span>Sci. & Tec.</span>
							</a>
						</li>
						<li>
							<a href="#">
								<figure>
									<img src="https://images.ishallwin.com/ot-images/quizz-7.webp" alt="">
								</figure>
								<span>World Affairs</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="g-add-sec" style="padding: 30px 0 0 0;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="g-ad-box">
						<figure>
							<img src="https://images.ishallwin.com/college-images/g-add-m.webp" alt="">
						</figure>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="contact-sec fee-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>Online Test System for Matric, Inter, MDCAT and ECAT Students</h2>
					<p>online tests are a useful source of self examination which can evaluate your level of preparations and IQ. These tests are designed with the objective to provide a platform of effective standardized tests to students and also to make them understand pattern of multiple choice questions (MCQs) in board examinations. The students who indulge in online tests can measure their academic ability without presence of a tutor or instructor. They can work on their weaknesses and understand an effective way of learning. The students can evaluate and enlist the portions of books and unread topics by conclusion of these online tests. They can further study to compensate the remaining and left out portion of their examination preparations of every chapter.</p>
					<ul>
						<li>Increase your Score in final exams.</li>
						<li>Get Yourself Prepared in the Easy way.</li>
						<li>Free Online Test for Objective Part.</li>
						<li>Test for 9th, 10th, 11th, 12th, ECAT, MDCAT, GAT-General, NAT-I, CSS Screening, IQ & General Knowlege.</li>
					</ul>
					<p>The concepts being taught in entire syllabus at matriculation level are considered as most basic yet most important. To build strong foundation of concepts and learning, studying with devotion and observance in and 10th class is compulsory. The boards of intermediate and secondary education in Pakistan maintain a standardized system of examination throughout the country for uniformity of education. Keeping that under consideration, our website has worked with experts in designing online tests for matriculation students. These tests are arranged in pattern of BISE boards and cover questions from the entire books of every subject. The students, who are dedicated to prepare for their examinations in the best way, must conduct these tests for measuring their current status of learnt and un-learned topics of syllabus.</p>
					<p>Preparing for examinations at intermediate level are less tiring and grueling. Because the students have experienced board examinations at matriculation level, they are more confident and acquainted with knowledge of accurate way to conduct papers. Often this newly acquired freedom at intermediate level from constant scrutiny of teachers like in schools, lead students to take their examination preparation lightly. This results in retaining of grades and marks. The online tests drawn for intermediate students can effectively assess your current potential in studies. Intermediate students can make an estimation of how much more preparation and learning they further need by attempting the online test we have designed for them.</p>
					<p>The MDCAT and ECAT students can also take benefit from online tests our website has designed for them. Admissions in medical and dental colleges require devoted effort of learning and a competent amount of qualification. The competition level for admissions in public or governmental medical college is relatively higher than private medical and dental colleges. The government has now announced the entrance tests as compulsory for admission in private medical colleges as well. The students who are aspired to become doctors and engineers pledge themselves to study hard and do spend as much energy as required to prepare their level best for entrance tests.</p>
					<p>Assessment and self examination is a major part of preparing examinations, it can help to understand effectiveness of learning pattern in terms of examinations and assist you in spending your energy where it is required. Those students who are preparing themselves for NAT I, NAT II and GAT tests of NTS must attempt the online tests we have designed for their self-assessment. These three categories of NTS are modeled as per the criterion set by Universities of Pakistan. NTS tests are nationally acclaimed tests which are preferred by all major recruiters and Universities. The online tests available in our website are for the convenience of candidates. Another set of online tests specifically sketched for 5th, 6th,7th and 8th class students are assembled keeping in view the most important content of syllabus and general knowledge level equivalent for these classes.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="share-sec">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="share-box">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="new-ads-sec">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<ul class="ss-ads" style="border: 0; padding-top: 35px;">
						<li>
							<a href="#" aria-label="ads"><img src="https://images.ishallwin.com/5.webp" alt=""></a>
						</li>
						<li>
							<a href="#" aria-label="ads"><img src="https://images.ishallwin.com/6.webp" alt=""></a>
						</li>
						<li>
							<a href="#" aria-label="ads"><img src="https://images.ishallwin.com/7.webp" alt=""></a>
						</li>
						<li>
							<a href="#" aria-label="ads"><img src="https://images.ishallwin.com/8.webp" alt=""></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Main End -->