

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MetaData {
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta name="google-signin-client_id" content="104983047817-ahbomi25h88rsehbee4652msao9g9as6.apps.googleusercontent.com">

	<title>
		Colleges, Universities List in All Pakistan
	</title>
	<meta name="description" content="Colleges List in Pakistan Cities, Universities List in Pakistan Cities, Colleges and Universities List of all Cities in Pakistan are available here online on ilmkidunya." />
	<link rel="canonical" href="https://www.ilmkidunya.com/colleges/city-wise-colleges.aspx" />
	<meta name="keywords" content="Find any college, Institute, University in Pakistan, HEC recognized Colleges, HEC non recognized colleges, University Directory, College Listing, List of Institutes" />
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="ilmkidunya.com" />
	<meta property="og:title" content="Colleges, Universities List in All Pakistan " />
	<meta property="og:description" content="Colleges List in Pakistan Cities, Universities List in Pakistan Cities, Colleges and Universities List of all Cities in Pakistan are available here online on ilmkidunya." />
	<meta property="og:url" content="https://www.ilmkidunya.com/colleges/city-wise-colleges.aspx" />
	<meta property="og:image" content="https://ikddata.ilmkidunya.com/images/ilmkidunya-logo-2.jpg" />
	<meta property="fb:app_id" content="168405456658643" />
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="ilmkidunya">
	<meta name="twitter:image" content="https://ikddata.ilmkidunya.com/images/ilmkidunya-logo-2.jpg">
	<meta name="twitter:title" content="Colleges, Universities List in All Pakistan ">
	<meta name="twitter:description" content="Colleges List in Pakistan Cities, Universities List in Pakistan Cities, Colleges and Universities List of all Cities in Pakistan are available here online on ilmkidunya.">
	<meta name="robots" content="index,follow" />
	

}
@section header {

				<div class="col-lg-11">
					<ul class="navigation">
						<li>
							<a aria-label="link" href="/colleges/">
								<img src="https://images.ishallwin.com/nav-icons/chem-nav-1.webp" alt="image" />
								Home
							</a>
						</li>
						<li>
							<a aria-label="link" href="/colleges/city-wise-colleges.aspx">
								<img src="https://images.ishallwin.com/nav-icons/menu-icon-2.webp" alt="image" />
								City Wise Colleges
							</a>
						</li>
						<li>
							<a aria-label="link" href="/colleges/level-wise-colleges.aspx">
								<img src="https://images.ishallwin.com/nav-icons/menu-icon-3.webp" alt="image" />
								Level wise colleges
							</a>
						</li>
						<li>
							<a aria-label="link" href="/colleges/college-category">
								<img src="https://images.ishallwin.com/nav-icons/menu-icon-4.webp" alt="image" />
								Category wise Colleges
							</a>
						</li>
						<li>
							<a aria-label="link" href="/colleges/featured-listing-of-colleges.aspx">
								<img src="https://images.ishallwin.com/nav-icons/menu-icon-5.webp" alt="image" />
								Featured colleges
							</a>
						</li>

					</ul>
				</div>
			
}
@section innerbanner {
	<div class="ss-banner-inner">
		<div class="ss-container">
			<div class="ss-row">
				<div class="ss-col-lg-12">
					<div class="ss-text-holder">
						<h1>Colleges, Universities List in All Pakistan Cities</h1>
						<p>
							List of Colleges, Universities List in All Pakistan Cities
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
}

<div id="main">
	<div class="content-sec" style="padding: 30px 0 20px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					@* @Html.Raw(ViewBag.Desc1) *@
				</div>
			</div>
		</div>
	</div>
	<div class="new-ads-sec">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					@await Html.PartialAsync("_maincontenttopbanner")
				</div>
			</div>
		</div>
	</div>
	<div class="content-sec level-wise">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="admission-nav">
						<li>
							<a href="/colleges/colleges-in-lahore.aspx">
								<figure>
									<img src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/lahore.png" alt="" />
								</figure>
								<span>Lahore</span>
							</a>
						</li>
						<li>
							<a href="/colleges/colleges-in-karachi.aspx">
								<figure>
									<img src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/karachi.png" alt="" />
								</figure>
								<span>Karachi</span>
							</a>
						</li>
						<li>
							<a href="/colleges/colleges-in-islamabad.aspx">
								<figure>
									<img src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/isb.png" alt="" />
								</figure>
								<span>Islamabad</span>
							</a>
						</li>
						<li>
							<a href="/colleges/colleges-in-rawalpindi.aspx">
								<figure>
									<img src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/rwp.png" alt="" />
								</figure>
								<span>Rawalpindi</span>
							</a>
						</li>
						<li>
							<a href="/colleges/colleges-in-peshawar.aspx">
								<figure>
									<img src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/peshawar.png" alt="" />
								</figure>
								<span>Peshawar</span>
							</a>
						</li>
						<li>
							<a href="/colleges/colleges-in-multan.aspx">
								<figure>
									<img src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/multan.png" alt="" />
								</figure>
								<span>Multan</span>
							</a>
						</li>
						<li>
							<a href="/colleges/colleges-in-faisalabad.aspx">
								<figure>
									<img src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/faisalabad.png" alt="" />
								</figure>
								<span>Faisalabad</span>
							</a>
						</li>
						<li>
							<a href="/colleges/colleges-in-gujranwala.aspx">
								<figure>
									<img src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/gujrat.png" alt="" />
								</figure>
								<span>Gujranwala</span>
							</a>
						</li>
						<li>
							<a href="/colleges/colleges-in-sialkot.aspx">
								<figure>
									<img src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/faisalabad.png" alt="" />
								</figure>
								<span>Sialkot</span>
							</a>
						</li>
						<li>
							<a href="/colleges/colleges-in-quetta.aspx">
								<figure>
									<img src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/quetta.png" alt="" />
								</figure>
								<span>Quetta</span>
							</a>
						</li>
						<li>
							<a href="/colleges/colleges-in-hyderabad.aspx">
								<figure>
									<img src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/hyderabad.png" alt="">
								</figure>
								<span>Hyderabad</span>
							</a>
						</li>
						<li>
							<a href="/colleges/colleges-in-bahawalpur.aspx">
								<figure>
									<img src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/bahawalpur.png" alt="" />
								</figure>
								<span>Bahawalpur</span>
							</a>
						</li>
						<li>
							<a href="/colleges/colleges-in-gilgit.aspx">
								<figure>
									<img src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/gilgit.png" alt="" />
								</figure>
								<span>Gilgit</span>
							</a>
						</li>
						<li>
							<a href="/colleges/colleges-in-sargodha.aspx">
								<figure>
									<img src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/sargodha.png" alt="" />
								</figure>
								<span>Sargodha</span>
							</a>
						</li>
					</ul>
					<h2>Colleges and Universities in Pakistan</h2>
					<ul class="citywise-list">
						@foreach (var city in ViewBag.Cities as List<IKDFrontEnd.DBCollege.TblDefCity>)
						{
							<li><a href="/colleges/colleges-in-@(city.Url).aspx" aria-label="link">@city.CityName</a></li>



						}

					</ul>
				</div>
				@await Html.PartialAsync("_GoogleAd")

			</div>
		</div>
	</div>
	<div class="total-colleges">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="total-list">
						<div class="list-box">
							<strong>@ViewBag.Universities</strong>
							<span>Universities in Pakistan</span>
						</div>
						<div class="list-box">
							<strong>@ViewBag.College</strong>
							<span>Colleges in Pakistan</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br />
	<div class="new-ads-sec">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					@await Html.PartialAsync("_maincontentlowerbanner")
				</div>
			</div>
		</div>
	</div>
	<div class="content-sec" style="padding: 10px 0 40px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>Featured Institutions</h2>
					<ul class="institute-list">
						@foreach (var college in ViewBag.FeaturedC)
						{
							<li>
								<a href="/colleges/@(college.Url).aspx" aria-label="link">
									<div class="img-holder">
										<!-- Display the logo or image associated with the college, replace this with actual image link if available -->
										<figure><img src="https://cdn.ilmkidunya.com/Inst/logos/@college.Logo" alt="" /></figure>
									</div>
									<div class="author">
										<span>@college.Name</span> <!-- Display college name -->
									</div>
								</a>
							</li>
						}
					</ul>
					<div class="share-box">
					</div>
				</div>

			</div>
		</div>
	</div>
	
</div>