@using System.Globalization
@using System.Text.RegularExpressions
@model List<IKDFrontEnd.ViewModels.SliderHome>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MetaData {
    @if (ViewBag.CmsData != null)
    {
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta property="og:title" content="@ViewBag.CmsData.MetaTitle" />
        <meta property="og:description" content="@ViewBag.CmsData.MetaDesc" />
        <meta property="og:image" content="https://www.ilmkidunya.com/images/logo.png" />
        <meta name="description" content="@ViewBag.CmsData.MetaDesc">
        <meta name="keywords" content="@ViewBag.CmsData.MetaKeys">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>@ViewBag.CmsData.MetaTitle</title>
    }
}

@section header {
    <div class="col-lg-11">

        <ul class="navigation">
            <li>
                <a href="/stories/">
                    <img src="https://images.ishallwin.com/nav-icons/nav-18.webp" alt="">Home
                </a>
            </li>
            <li>
                <a href="/stories/education">
                    <img src="https://invent.ilmkidunya.com/nadmin/Sliders/CategoryIcons/education-icon.png" alt="">Education
                </a>
            </li>
            <li>
                <a href="/stories/result">
                    <img src="https://invent.ilmkidunya.com/nadmin/Sliders/CategoryIcons/result-icon.png" alt="">Result
                </a>
            </li>
            <li>
                <a href="/stories/current_affairs">
                    <img src="https://invent.ilmkidunya.com/nadmin/Sliders/CategoryIcons/current-affairs.png" alt="">Current Affairs
                </a>
            </li>
            <li>
                <a href="/stories/history">
                    <img src="https://invent.ilmkidunya.com/nadmin/Sliders/CategoryIcons/history-icon.png" alt="">History
                </a>
            </li>
            <li>
                <a href="/stories/sports">
                    <img src="https://invent.ilmkidunya.com/nadmin/Sliders/CategoryIcons/sports.png" alt="">Sports
                </a>
            </li>
            <li>
                <a href="/stories/politics">
                    <img src="https://invent.ilmkidunya.com/nadmin/Sliders/CategoryIcons/politics icon.png" alt="">Politics
                </a>
            </li>
            <li>
                <a href="/stories/islamic">
                    <img src="https://invent.ilmkidunya.com/nadmin/Sliders/CategoryIcons/islamic-icon.png" alt="">Islamic
                </a>
            </li>
            <li>
                <a href="/stories/health">
                    <img src="https://invent.ilmkidunya.com/nadmin/Sliders/CategoryIcons/health-icon.png" alt="">Health
                </a>
            </li>
            <li>
                <a href="/stories/success_story">
                    <img src="https://invent.ilmkidunya.com/nadmin/Sliders/CategoryIcons/success icon.png" alt="">Success Story
                </a>
            </li>
            <li>
                <a href="/stories/facts">
                    <img src="https://invent.ilmkidunya.com/nadmin/Sliders/CategoryIcons/fact-icon.png" alt="">Facts
                </a>
            </li>
            <li>
                <a href="/stories/biography">
                    <img src="https://invent.ilmkidunya.com/nadmin/Sliders/CategoryIcons/biography-icon.png" alt="">Biography
                </a>
            </li>
        </ul>

    </div>

}

@section innerbanner {
    <div class="ss-banner-inner">
        <div class="ss-container">
            <div class="ss-row">
                <div class="ss-col-lg-12">
                    <div class="ss-text-holder">
                        @if (ViewBag.CmsData != null && ViewBag.CmsData.Heading != null)
                        {
                            <h1>@ViewBag.CmsData.Heading</h1>

                        }
                        else
                        {
                            <h1>Stories in @ViewBag.Title</h1>
                            <p>Learn New Stuff,the Fun Way</p>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
}



<!-- Main Start -->
<div id="main">
    <div class="main-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4">
                        <div class="flex-container slide-view">
                            @foreach (var slide in Model.Take(5))
                            {
                                var sliderName = slide.Slidertitle.ToLower().Replace(" ", "-");
                                <span class="story-base">
                                    <figure>
                                        <a class="story-title" href="/stories/@sliderName">
                                            <img src="https://invent.ilmkidunya.com/nadmin/Sliders/@slide.Image" class="lazy">
                                        </a>
                                    </figure>
                                    <div class="caption">
                                        <span>@slide.Categoryname</span>
                                        @{
                                            bool isEnglish = Regex.IsMatch(slide.Slidertitle, @"^[a-zA-Z0-9\s]*$");
                                        }
                                        @if (isEnglish)
                                        {
                                            <h3>@slide.Slidertitle</h3>

                                        }
                                        else
                                        {
                                            <h3 class="urdu">@slide.Slidertitle</h3>

                                        }
                                    </div>
                                </span>

                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="new-ads-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    @await Html.PartialAsync("_maincontenttopbanner")
                </div>
            </div>
        </div>
    </div>
    <div class="story-sec" style="background:#effcf4; padding: 20px 0 30px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4">
                        <div class="flex-container">
                            @foreach (var slide in Model.Skip(5).Take(10))
                            {
                                var sliderName = slide.Slidertitle.ToLower().Replace(" ", "-");
                                <span class="story-base">
                                    <figure>
                                        <a class="story-title" href="/stories/@sliderName">
                                            <img src="https://invent.ilmkidunya.com/nadmin/Sliders/@slide.Image" class="lazy">
                                        </a>
                                    </figure>
                                    <div class="caption">
                                        <span>@slide.Categoryname</span>
                                        @{
                                            bool isEnglish = Regex.IsMatch(slide.Slidertitle, @"^[a-zA-Z0-9\s]*$");
                                        }
                                        @if (isEnglish)
                                        {
                                            <h3>@slide.Slidertitle</h3>

                                        }
                                        else
                                        {
                                            <h3 class="urdu">@slide.Slidertitle</h3>

                                        }
                                    </div>
                                </span>

                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="new-ads-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    @await Html.PartialAsync("_maincontentlowerbanner")
                </div>
            </div>
        </div>
    </div>

    <div class="story-sec" style="border-top: 2px solid #ccc; background: #f1f1f1; padding: 20px 0 30px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4">
                        <div class="flex-container karya">
                            @foreach (var slide in Model.Skip(15))
                            {
                                var sliderName = slide.Slidertitle.ToLower().Replace(" ", "-");
                                <span class="story-base">
                                    <figure>
                                        <a class="story-title" href="/stories/@sliderName">
                                            <img src="https://invent.ilmkidunya.com/nadmin/Sliders/@slide.Image" class="lazy">
                                        </a>
                                    </figure>
                                    <div class="caption">
                                        <span>@slide.Categoryname</span>
                                        @{
                                            bool isEnglish = Regex.IsMatch(slide.Slidertitle, @"^[a-zA-Z0-9\s]*$");
                                        }
                                        @if (isEnglish)
                                        {
                                            <h3>@slide.Slidertitle</h3>

                                        }
                                        else
                                        {
                                            <h3 class="urdu">@slide.Slidertitle</h3>

                                        }
                                    </div>
                                </span>

                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





