@using IKDFrontEnd.ViewModels
@model PrayerTimesHomeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://css.ishallwin.com/style/main-page.css" rel="stylesheet" async="">
<link href="https://css.ishallwin.com/style/study-section.css" rel="stylesheet" async="">
<link href="https://css.ishallwin.com/style/program-section.css" rel="stylesheet" async="">
<link href="https://css.ishallwin.com/style/college-section.css" rel="stylesheet" async="">
<link href="https://css.ishallwin.com/style/online-test-sec.css" rel="stylesheet" async="">
<link href="https://css.ishallwin.com/common/style.css" rel="stylesheet" async="">
<link href="https://www.ilmkidunya.com/css-files/style/dictionary.css" rel="stylesheet" async="">
@section MetaData {
    @if (ViewBag.CmsData != null)
    {
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta property="og:title" content="@ViewBag.CmsData.MetaTitle" />
        <meta property="og:description" content="@ViewBag.CmsData.MetaDesc" />
        <meta property="og:image" content="https://www.ilmkidunya.com/images/logo.png" />
        <meta name="description" content="@ViewBag.CmsData.MetaDesc">
        <meta name="keywords" content="@ViewBag.CmsData.MetaKeys">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="~/images-files/images/favicon.ico">
        <title>@ViewBag.CmsData.MetaTitle</title>
    }
}


@section header {
<!-- Header Start -->

<div class="col-lg-11">
    <partial name="_NavBarPartial" />
</div>


}

@section innerbanner {
    <div class="ss-banner-inner">
        <div class="ss-container">
            <div class="ss-row">
                <div class="ss-col-lg-12">
                    <div class="ss-text-holder">
                        @if (ViewBag.CmsData != null && ViewBag.CmsData.Heading != null)
                        {
                            <h1>@ViewBag.CmsData.Heading</h1>

                        }
                        else
                        {
                            <h1>Worldwide Islamic Prayer Timings</h1>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<style>
    .dictionary-word {
    color: #15a18d;
    }

    .dictionary-from.banner-form {
    position: relative;
    }

    .custom-select-wrapper {
    user-select: none;
    padding: 8px 20px;
    border-left: 1px solid #c8c8c8;
    }

    .custom-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    }

    .custom-select .arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #15a18d;
    margin-left: 10px;
    transition: transform .2s;
    }

    .custom-options {
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
    background: #fff;
    border: 1px solid #15a18d;
    border-radius: 5px;
    margin-top: 5px;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 10;
    max-height: 400px;
    overflow-y: auto;
    }

    .custom-options .search-box {
    padding: 5px;
    border-bottom: 2px solid #ddd;
    flex: 1 1 100%;
    }

    .custom-options input {
    width: 100%;
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    }

    .custom-options span {
    padding: 10px;
    cursor: pointer;
    flex: 1 1 33%;
    min-width: 150px;
    transition: 0.2s;
    }

    .custom-options span:hover {
    background: #15a18d;
    color: #fff;
    }

    .custom-select-wrapper.open .custom-options {
    display: flex;
    }

    .custom-select-wrapper.open .custom-select .arrow {
    transform: rotate(180deg);
    }

    .dictionary-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 35px;
    }

    .dictionary-row .dictionary-boxes {
    min-width: 300px;
    min-height: 200px;
    width: 45%;
    flex: 1;
    padding: 25px;
    background: rgba(54, 229, 124, 0.1);
    border: 1px solid #36e57c;
    border-radius: 10px;
    position: relative;
    }

    .dictionary-boxes .meaning-bx {
    margin: 15px 0px;
    }

    .dictionary-boxes .meaning-bx li {
    color: #383838;
    line-height: 1.18;
    margin-bottom: 6px;
    }

    .dictionary-speaker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .dictionary-speaker h2 {
    font-weight: bold !important;
    }

    .dictionary-boxes .spk-icon svg {
    cursor: pointer;
    color: #15a18d;
    fill: #15a18d;
    width: 35px;
    }

    .dictionary-boxes .spk-icon {
    position: absolute;
    bottom: 10px;
    right: 20px;
    }

    .dictionary-boxes .banner-form {
    margin: 0px !important;
    }

    .translation-result p {
    font-size: 20px;
    margin-top: 15px;
    }

    .translation-result p.urdu {
    font-size: 25px;
    text-align: right;
    font-weight: 600;
    }

    .responsive-table span.urdu {
    font-size: 20px;
    text-align: right;
    font-weight: 500;
    display: block;
    }

    .dictionary-synonyms-list {
    padding: 25px;
    background: rgba(54, 229, 124, 0.1);
    border: 1px solid #36e57c;
    border-radius: 10px;
    margin: 15px 0px 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    }

    .dictionary-synonyms-list a {
    background-color: #ffffff;
    padding: 5px 14px;
    border-radius: 50px;
    }

    .dictionary-by-words {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 20px;
    }

    .dictionary-by-words .by-words-colm {
    min-width: 300px;
    min-height: 200px;
    flex: 1 1 46%;
    padding: 30px;
    background: rgba(54, 229, 124, 0.1);
    border: 1px solid #36e57c;
    border-radius: 10px;
    }

    .dictionary-letters {
    margin: 20px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    }

    .dictionary-letters a {
    display: flex;
    align-items: center;
    font-size: 19px;
    color: black;
    cursor: pointer;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 8px;
    background-color: #36e57c;
    transition: all 0.3s ease;
    }

    .dictionary-letters a:hover {
    background-color: #4EA28D;
    }

    .by-words-colm.words-by-urdu {
    flex-basis: 100%;
    }

    .by-words-colm.words-by-urdu .dictionary-letters {
    direction: rtl !important;
    }

    .by-words-colm.words-by-urdu .dictionary-letters a {
    font-size: 23px;
    }

    span.dict-urdu-word {
    font-size: 20px;
    display: block;
    text-align: right;
    }

    .responsive-table td {
    align-content: center;
    }
</style>



<div id="main">
    <div class="content-sec" style="padding: 30px 0 20px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ckeditorcontent">
                        @if (ViewBag.CmsData != null && ViewBag.CmsData.Desc1 != null)
                        {
                            @Html.Raw(ViewBag.CmsData.Desc1)
                        }
                    </div>
                </div>
                <div class="col-lg-12">
                    <h2>@Model.Country.Name Top Cities Prayer Time Today</h2>
                    <div class="responsive-table">
                        <figure class="table">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>City</th>
                                        <th>Fajr</th>
                                        <th>Dhuhr</th>
                                        <th>Asr</th>
                                        <th>Maghrib</th>
                                        <th>Isha</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model?.CityPrayerTimes != null && Model.CityPrayerTimes.Any())
                                    {
                                        foreach (var city in Model.CityPrayerTimes)
                                        {
                                            var currentCity = city.CityName.ToLower().Replace(" ", "-");
                                            <tr>
                                                <td>
                                                    <a href="/islam/@currentCity-namaz-timing">
                                                        @city.CityName
                                                    </a>
                                                </td>
                                                <td>@city.Fajr</td>
                                                <td>@city.Dhuhr</td>
                                                <td>@city.Asr</td>
                                                <td>@city.Maghrib</td>
                                                <td>@city.Isha</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="6" class="text-center text-muted">No prayer timing data available.</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-sec level-wise" style="margin-bottom: 15px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    @if (ViewBag.CmsData != null && ViewBag.CmsData.Desc2 != null)
                    {
                        @Html.Raw(ViewBag.CmsData.Desc2)
                    }
                    <div class="subjects-tble2">
                        <ul class="city-list">
                            @if (Model?.AllCities != null && Model.AllCities.Any())
                            {
                                foreach (var city in Model.AllCities)
                                {
                                    var citySlug = city.CityName.Replace(" ", "-").ToLower();
                                    <li>
                                        <a href="/islam/@citySlug-namaz-timing">
                                            @city.CityName
                                        </a>
                                    </li>
                                }
                            }
                            else
                            {
                                <li class="text-muted">No cities available.</li>
                            }
                        </ul>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-sec" style="padding: 15px 0;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ckeditorcontent">
                        @if (ViewBag.CmsData != null && ViewBag.CmsData.Desc3 != null)
                        {
                            @Html.Raw(ViewBag.CmsData.Desc3)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="new-ads-sec">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12">

                    @await Html.PartialAsync("_maincontenttopbanner")
                </div>
            </div>
        </div>
    </div>
</div>
@functions {
    // Function to sanitize city names for URL
    public string GetCityUrl(string cityName)
    {
        if (string.IsNullOrEmpty(cityName))
            return "";

        // Remove special characters
        var cleaned = System.Text.RegularExpressions.Regex.Replace(cityName, @"[^a-zA-Z0-9\s]", "");

        // Replace spaces with hyphens and convert to lowercase
        return cleaned.Trim().Replace(" ", "-").ToLower();
    }
}
