@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MetaData {
	@if (ViewBag.CmsData != null)
	{
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta property="og:title" content="@ViewBag.CmsData.MetaTitle" />
		<meta property="og:description" content="@ViewBag.CmsData.MetaDesc" />
		<meta property="og:image" content="https://www.ilmkidunya.com/images/logo.png" />
		<meta name="description" content="@ViewBag.CmsData.MetaDesc">
		<meta name="keywords" content="@ViewBag.CmsData.MetaKeys">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="~/images-files/images/favicon.ico">
		<title>@ViewBag.CmsData.MetaTitle</title>
	}
}
@section header {
	<div class="col-lg-11">
		<partial name="_NavBarPartial" />
	</div>
}
@section innerbanner {
	<div class="ss-banner-inner">
		<div class="ss-container">
			<div class="ss-row">
				<div class="ss-col-lg-12">
					<div class="ss-text-holder">
						@if (ViewBag.CmsData != null && ViewBag.CmsData.Heading != null)
						{
							<h1>@ViewBag.CmsData.Heading</h1>
						}


						<div class="banner-form" style="margin: 0 20%;">
							<div class="input-holder" style="width: 90%;">
								<div style="width: 33.33%; position: relative;">
									<select class="form-select" name="boardId" id="boardDropdown">
										<option value="">Select Board</option>
										@if (ViewBag.InitialBoards != null)
										{
											foreach (var board in ViewBag.InitialBoards)
											{
												<option value="@board.id">@board.name</option>
											}
										}
									</select>
								</div>
								<div style="width: 33.33%; position: relative;">
									<select class="form-select" name="classId" id="classDropdown" disabled>
										<option value="">Select Class</option>
									</select>
								</div>
								<div style="width: 33.33%; position: relative;">
									<select class="form-select" name="subjectId" id="subjectDropdown" disabled>
										<option value="">Select Subject</option>
									</select>
								</div>
							</div>
							<div class="btn-holder">
								<button type="button" id="searchBtn">
									<img src="https://images.ishallwin.com/search-icon.webp" alt="Search">
								</button>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>


}
<div id="main">
	<div class="content-sec" style="padding: 30px 0 20px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					@if (ViewBag.CmsData != null && ViewBag.CmsData.Desc2 != null)
					{
						@Html.Raw(ViewBag.CmsData.Desc2)
					}
				</div>
			</div>
		</div>
	</div>

	<div class="contact-sec fee-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					@if (ViewBag.CmsData != null && ViewBag.CmsData.Desc1 != null)
					{
						@Html.Raw(ViewBag.CmsData.Desc1)
					}
					@await Html.PartialAsync("_maincontenttopbanner")
					<div class="page-content pp-sec">
						<div class="col-lg-12" style="float:none;">
							<h2 class="ss-profession">Matric / Inter Past Papers</h2>
						</div>
						<div class="flex-container">
							<div class="col-lg-4">
								<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
									<h4>Punjab Educational Boards Past Papers:</h4>
									<ul class="citywise-list">
										<li>
											<a href="http://www.ilmkidunya.com/past_papers/lahore-board-past-papers.aspx">BISE Lahore</a>
										</li>
										<li>
											<a href="http://www.ilmkidunya.com/past_papers/gujranwala-board-past-papers.aspx">BISE Gujranwala</a>
										</li>
										<li>
											<a href="http://www.ilmkidunya.com/past_papers/multan-board-past-papers.aspx">BISE Multan</a>
										</li>
										<li>
											<a href="http://www.ilmkidunya.com/past_papers/faisalabad-board-past-papers.aspx">BISE Faisalabad</a>
										</li>
										<li>
											<a href="http://www.ilmkidunya.com/past_papers/sahiwal-board-past-papers.aspx">BISE Sahiwal</a>
										</li>
										<li>
											<a href="http://www.ilmkidunya.com/past_papers/sargodha-board-past-papers.aspx">BISE Sargodha</a>
										</li>
										<li>
											<a href="http://www.ilmkidunya.com/past_papers/rawalpindi-board-past-papers.aspx">BISE Rawalpinidi</a>
										</li>
										<li>
											<a href="http://www.ilmkidunya.com/past_papers/bahawalpur-board-past-papers.aspx">BISE Bahawalpur</a>
										</li>
										<li>
											<a href="http://www.ilmkidunya.com/past_papers/dg-khan-board-past-papers.aspx">BISE DG Khan</a>
										</li>
										<li>
											<a href="http://www.ilmkidunya.com/past_papers/federal-board-islamabad-past-papers.aspx">BISE Federal</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
									<h4>KPK Educational Boards Past Papers:</h4>
									<ul class="citywise-list">
										<li>
											<a href="http://www.ilmkidunya.com/past_papers/peshawar-board-past-papers.aspx">BISE Peshawar</a>
										</li>
										<li>
											<a href="http://www.ilmkidunya.com/past_papers/swat-board-past-papers.aspx">BISE Swat</a>
										</li>
										<li>
											<a href="http://www.ilmkidunya.com/past_papers/kohat-board-past-papers.aspx">BISE Kohat</a>
										</li>
										<li>
											<a href="http://www.ilmkidunya.com/past_papers/mardan-board-past-papers.aspx">BISE Mardan</a>
										</li>
										<li>
											<a href="http://www.ilmkidunya.com/past_papers/malakand-board-past-papers.aspx">BISE Malakand</a>
										</li>
										<li>
											<a href="http://www.ilmkidunya.com/past_papers/abbottabad-board-past-papers.aspx">BISE Abbottabad</a>
										</li>
										<li>
											<a href="http://www.ilmkidunya.com/past_papers/bannu-board-past-papers.aspx">BISE Bannu</a>
										</li>
										<li>
											<a href="http://www.ilmkidunya.com/past_papers/di-khan-board-past-papers.aspx">BISE DI Khan</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="flex-container">
							<div class="col-lg-4">
								<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
									<h4>University Past Papers</h4>
									<ul class="citywise-list">
										<li>
											<a href="http://www.ilmkidunya.com/past_papers/punjab-university-lahore-past-papers.aspx">Punjab University</a>
										</li>
										<li>
											<a href="http://www.ilmkidunya.com/past_papers/karachi-university-past-papers.aspx">Karachi University</a>
										</li>
										<li>
											<a href="http://www.ilmkidunya.com/past_papers/peshawar-university-past-papers.aspx">Peshawar University</a>
										</li>
										<li>
											<a href="http://www.ilmkidunya.com/past_papers/bzu-multan-past-papers.aspx">Bahauddin Zakariya University</a>
										</li>
										<li>
											<a href="http://www.ilmkidunya.com/past_papers/sargodha-university-past-papers.aspx">Sargodha University</a>
										</li>
										<li>
											<a href="http://www.ilmkidunya.com/past_papers/islamia-university-bahawalpur-past-papers.aspx">Islamia University Bahawalpur</a>
										</li>
										<li>
											<a href="http://www.ilmkidunya.com/past_papers/ajk-university-past-papers.aspx">AJK University</a>
										</li>
										<li>
											<a href="http://www.ilmkidunya.com/past_papers/university-of-health-sciences-lahore-past-papers.aspx">University of Health Sciences</a>
										</li>
										<li>
											<a href="http://www.ilmkidunya.com/past_papers/virtual-university-past-papers.aspx">Virtual University</a>
										</li>
										<li>
											<a href="https://www.ilmkidunya.com/past_papers/quetta-university-past-papers.aspx">Quetta University</a>
										</li>
										<li>
											<a href="https://www.ilmkidunya.com/past_papers/university-of-balochistan-past-papers.aspx">University of Balochistan</a>
										</li>
										<li>
											<a href="http://www.ilmkidunya.com/past_papers/allama-iqbal-open-university-past-papers.aspx">Allama Iqbal Open University</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
									<h4>Class Wise Past Papers</h4>
									<ul class="citywise-list">
										<li>
											<a href="https://www.ilmkidunya.com/past_papers/9th-past-papers.aspx">9th Class</a>
										</li>
										<li>
											<a href="https://www.ilmkidunya.com/past_papers/10th-past-papers.aspx">10th Class</a>
										</li>
										<li>
											<a href="https://www.ilmkidunya.com/past_papers/11th-past-papers.aspx">11th Class</a>
										</li>
										<li style="background: none;">
											<a href="https://www.ilmkidunya.com/past_papers/12th-past-papers.aspx">12th Class</a>
										</li>
									</ul>
								</div>
							</div>

						</div>
					</div>
					@await Html.PartialAsync("_maincontentlowerbanner")
				</div>
			</div>
		</div>
	</div>
	<div class="page-content pp-sec">
		<div class="container">
			<div class="row">
				<h2 class="ss-profession">Past Papers</h2>
			</div>
			<div class="flex-container">
				<div class="col-lg-4">
					<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
						<h4>Class Wise Past Papers</h4>
						<ul class="citywise-list">
							<li>
								<a href="https://www.ilmkidunya.com/past_papers/9th-past-papers.aspx">9th Class</a>
							</li>
							<li>
								<a href="https://www.ilmkidunya.com/past_papers/10th-past-papers.aspx">10th Class</a>
							</li>
							<li>
								<a href="https://www.ilmkidunya.com/past_papers/11th-past-papers.aspx">11th Class</a>
							</li>
							<li style="background: none;">
								<a href="https://www.ilmkidunya.com/past_papers/12th-past-papers.aspx">12th Class</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
						<h4>Entry Test Past Papers</h4>
						<ul class="citywise-list">
							<li><a href="https://www.ilmkidunya.com/past_papers/ecat-past-papers.aspx"><span>ECAT Test</span></a></li>
							<li><a href="https://www.ilmkidunya.com/past_papers/mcat-past-papers.aspx"><span>MDCAT Test</span></a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
						<h4>Competitive Exams Past Papers</h4>
						<ul class="citywise-list">
							<li><a href="https://www.ilmkidunya.com/past_papers/ppsc-all-departments-past-papers.aspx"><span>PPSC</span></a></li>
							<li><a href="https://www.ilmkidunya.com/past_papers/css-past-papers.aspx"><span>CSS</span></a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
						<h4>Technical Education Exams Past Papers</h4>
						<ul class="citywise-list">
							<li><a href="https://www.ilmkidunya.com/past_papers/punjab-board-of-techinal-education-past-papers.aspx"><span>Punjab Board</span></a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
						<h4>Punjab Examination Commission Past Papers</h4>
						<ul class="citywise-list">
							<li><a href="https://www.ilmkidunya.com/past_papers/pec-5th-class-past-papers.aspx"><span>5th Class</span></a></li>
							<li><a href="https://www.ilmkidunya.com/past_papers/pec-8th-class-past-papers.aspx"><span>8th Class</span></a></li>
						</ul>
					</div>
				</div>

			</div>
			<div class="col-lg-12">
				<h2>Past Papers feedback:</h2>
				<p>If you want to share some information with other students regarding past papers, you can send your valued feedback to <a href="#">ilmkidunya.com</a></p>
			</div>
		</div>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		// Initialize only boards dropdown
		initializeBoardDropdown();

		// Board dropdown change event
		document.getElementById("boardDropdown").addEventListener("change", function () {
			const boardId = this.value;

			// Reset all dependent dropdowns
			resetDropdown('classDropdown', 'Select Class', true);
			resetDropdown('subjectDropdown', 'Select Subject', true);

			if (boardId) {
				// Enable and load classes for selected board
				enableDropdown('classDropdown');
				loadClasses(boardId);
			} else {
				// If no board selected, disable all dependent dropdowns
				disableDropdown('classDropdown');
				disableDropdown('subjectDropdown');
			}
		});

		// Class dropdown change event
		document.getElementById("classDropdown").addEventListener("change", function () {
			const boardId = document.getElementById("boardDropdown").value;
			const classId = this.value;

			// Reset subject dropdown
			resetDropdown('subjectDropdown', 'Select Subject', true);

			if (boardId && classId) {
				// Enable and load subjects for selected board and class
				enableDropdown('subjectDropdown');
				loadSubjects(boardId, classId);
			} else {
				// If no class selected, disable subject dropdown
				disableDropdown('subjectDropdown');
			}
		});

		// Search button click event
		document.getElementById("searchBtn").addEventListener("click", performSearch);

		// Enter key support
		document.querySelectorAll(".form-select").forEach(select => {
			select.addEventListener("keypress", function (e) {
				if (e.key === "Enter") {
					performSearch();
				}
			});
		});

		// -----------------------------
		// INITIALIZATION
		// -----------------------------
		function initializeBoardDropdown() {
			// Board dropdown is already populated from server-side
			console.log("Board dropdown initialized");
		}

		// -----------------------------
		// LOAD CLASSES
		// -----------------------------
		async function loadClasses(boardId) {
			try {
				setDropdownLoading('classDropdown', true);

				const response = await fetch(`/past_papers/get-classes?boardId=${boardId}`);
				if (!response.ok) throw new Error('Network response was not ok');

				const data = await response.json();
				const dropdown = document.getElementById("classDropdown");

				dropdown.innerHTML = `<option value="">Select Class</option>`;

				data.forEach(item => {
					const option = document.createElement("option");
					option.value = item.id;
					option.textContent = item.name;
					dropdown.appendChild(option);
				});

			} catch (error) {
				console.error("Error loading classes:", error);
				showDropdownError('classDropdown', 'Failed to load classes');
			} finally {
				setDropdownLoading('classDropdown', false);
			}
		}

		// -----------------------------
		// LOAD SUBJECTS
		// -----------------------------
		async function loadSubjects(boardId, classId) {
			try {
				setDropdownLoading('subjectDropdown', true);

				const response = await fetch(`/past_papers/get-subjects?boardId=${boardId}&classId=${classId}`);
				if (!response.ok) throw new Error('Network response was not ok');

				const data = await response.json();
				const dropdown = document.getElementById("subjectDropdown");

				dropdown.innerHTML = `<option value="">Select Subject</option>`;

				data.forEach(item => {
					const option = document.createElement("option");
					option.value = item.id;
					option.textContent = item.name;
					dropdown.appendChild(option);
				});

			} catch (error) {
				console.error("Error loading subjects:", error);
				showDropdownError('subjectDropdown', 'Failed to load subjects');
			} finally {
				setDropdownLoading('subjectDropdown', false);
			}
		}

		// -----------------------------
		// PERFORM SEARCH
		// -----------------------------
		function performSearch() {
			const boardId = document.getElementById("boardDropdown").value || 0;
			const classId = document.getElementById("classDropdown").value || 0;
			const subjectId = document.getElementById("subjectDropdown").value || 0;

			// Basic validation
			if (boardId == 0) {
				alert('Please select a board first');
				document.getElementById("boardDropdown").focus();
				return;
			}

			const url = `/past_papers/search_papers.aspx?boardid=${boardId}&classId=${classId}&subjectid=${subjectId}`;
			console.log("Redirecting to:", url);
			window.location.href = url;
		}

		// -----------------------------
		// HELPER FUNCTIONS
		// -----------------------------
		function setDropdownLoading(dropdownId, isLoading) {
			const dropdown = document.getElementById(dropdownId);
			if (isLoading) {
				dropdown.disabled = true;
				dropdown.classList.add('loading');
				dropdown.innerHTML = `<option value="">Loading...</option>`;
			} else {
				dropdown.disabled = false;
				dropdown.classList.remove('loading');
			}
		}

		function enableDropdown(dropdownId) {
			const dropdown = document.getElementById(dropdownId);
			dropdown.disabled = false;
			dropdown.classList.remove('disabled-dropdown');
		}

		function disableDropdown(dropdownId) {
			const dropdown = document.getElementById(dropdownId);
			dropdown.disabled = true;
			dropdown.classList.add('disabled-dropdown');
			dropdown.innerHTML = `<option value="">Select ${dropdownId.replace('Dropdown', '')}</option>`;
		}

		function resetDropdown(dropdownId, placeholder = '', disable = false) {
			const dropdown = document.getElementById(dropdownId);
			dropdown.innerHTML = `<option value="">${placeholder}</option>`;
			if (disable) {
				disableDropdown(dropdownId);
			}
		}

		function showDropdownError(dropdownId, message) {
			const dropdown = document.getElementById(dropdownId);
			dropdown.innerHTML = `<option value="">${message}</option>`;
		}
	});
</script>


