@model IKDFrontEnd.DictionaryViewModels.DictionaryPage
@using IKDFrontEnd.ViewModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://www.ilmkidunya.com/css-files/style/dictionary.css" rel="stylesheet" async="">
@section MetaData {
    @if (ViewBag.CmsData != null)
    {
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta property="og:title" content="@ViewBag.CmsData.MetaTitle" />
        <meta property="og:description" content="@ViewBag.CmsData.MetaDesc" />
        <meta property="og:image" content="https://www.ilmkidunya.com/images/logo.png" />
        <meta name="description" content="@ViewBag.CmsData.MetaDesc">
        <meta name="keywords" content="@ViewBag.CmsData.MetaKeys">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="~/images-files/images/favicon.ico">
        <title>@ViewBag.CmsData.MetaTitle</title>
    }
}


@section header {
    <!-- Header Start -->

    <div class="col-lg-11">
        <partial name="_NavBarPartial" />
    </div>


}

@section innerbanner {
    <div class="ss-banner-inner">
        <div class="ss-container">
            <div class="ss-row">
                <div class="ss-col-lg-12">
                    <div class="ss-text-holder" id="coursesHeading">
                        @if (ViewBag.CmsData != null && ViewBag.CmsData.Heading != null)
                        {
                            <h1>@ViewBag.CmsData.Heading</h1>
                            <p>@ViewBag.CmsData.ShortHeading</p>
                        }
                        else
                        {
                            <h1>English to Urdu Translation & Urdu to English Translation – Free Online Dictionary</h1>
                            <p>Type a word to find its meaning, synonyms, and examples.</p>
                        }

                    </div>
                </div>
                <div class="ss-col-lg-12">
                    <div class="banner-form" style="margin: 0 20%; position: relative;">
                        <div class="input-holder" style="width: 90%;">
                            <div style="width: 60%; position: relative;">
                                <input type="text" placeholder="Type Your Word Here">
                            </div>

                            <div class="custom-select-wrapper" style="width: 40%;">
                                <div class="custom-select" id="customSelectSearch">
                                    <span class="selected">Urdu</span>
                                    <div class="arrow"></div>
                                </div>
                                <div class="custom-options">
                                    <div class="search-box">
                                        <input type="text" id="optionSearchHeader" placeholder="Search...">
                                    </div>
                                    <span data-value="Afrikaans">Afrikaans</span>
                                    <span data-value="Albanian">Albanian</span>
                                    <span data-value="Amharic">Amharic</span>
                                    <span data-value="Arabic">Arabic</span>
                                    <span data-value="Armenian">Armenian</span>
                                    <span data-value="Azerbaijani">Azerbaijani</span>
                                    <span data-value="Basque">Basque</span>
                                    <span data-value="Belarusian">Belarusian</span>
                                    <span data-value="Bengali">Bengali</span>
                                    <span data-value="Bosnian">Bosnian</span>
                                    <span data-value="Bulgarian">Bulgarian</span>
                                    <span data-value="Catalan">Catalan</span>
                                    <span data-value="Cebuano">Cebuano</span>
                                    <span data-value="Chinese (Simplified)">Chinese</span>
                                    <span data-value="Croatian">Croatian</span>
                                    <span data-value="Czech">Czech</span>
                                    <span data-value="Danish">Danish</span>
                                    <span data-value="Dutch">Dutch</span>
                                    <span data-value="English">English</span>
                                    <span data-value="Esperanto">Esperanto</span>
                                    <span data-value="Estonian">Estonian</span>
                                    <span data-value="Finnish">Finnish</span>
                                    <span data-value="French">French</span>
                                    <span data-value="Galician">Galician</span>
                                    <span data-value="Georgian">Georgian</span>
                                    <span data-value="German">German</span>
                                    <span data-value="Greek">Greek</span>
                                    <span data-value="Gujarati">Gujarati</span>
                                    <span data-value="Haitian Creole">Haitian Creole</span>
                                    <span data-value="Hausa">Hausa</span>
                                    <span data-value="Hebrew">Hebrew</span>
                                    <span data-value="Hindi">Hindi</span>
                                    <span data-value="Hungarian">Hungarian</span>
                                    <span data-value="Icelandic">Icelandic</span>
                                    <span data-value="Indonesian">Indonesian</span>
                                    <span data-value="Irish">Irish</span>
                                    <span data-value="Italian">Italian</span>
                                    <span data-value="Japanese">Japanese</span>
                                    <span data-value="Javanese">Javanese</span>
                                    <span data-value="Kannada">Kannada</span>
                                    <span data-value="Kazakh">Kazakh</span>
                                    <span data-value="Khmer">Khmer</span>
                                    <span data-value="Korean">Korean</span>
                                    <span data-value="Kurdish">Kurdish</span>
                                    <span data-value="Kyrgyz">Kyrgyz</span>
                                    <span data-value="Lao">Lao</span>
                                    <span data-value="Latin">Latin</span>
                                    <span data-value="Latvian">Latvian</span>
                                    <span data-value="Lithuanian">Lithuanian</span>
                                    <span data-value="Macedonian">Macedonian</span>
                                    <span data-value="Malagasy">Malagasy</span>
                                    <span data-value="Malay">Malay</span>
                                    <span data-value="Malayalam">Malayalam</span>
                                    <span data-value="Maltese">Maltese</span>
                                    <span data-value="Maori">Maori</span>
                                    <span data-value="Marathi">Marathi</span>
                                    <span data-value="Mongolian">Mongolian</span>
                                    <span data-value="Burmese">Burmese</span>
                                    <span data-value="Nepali">Nepali</span>
                                    <span data-value="Norwegian">Norwegian</span>
                                    <span data-value="Persian (Farsi)">Persian</span>
                                    <span data-value="Polish">Polish</span>
                                    <span data-value="Portuguese">Portuguese</span>
                                    <span data-value="Punjabi">Punjabi</span>
                                    <span data-value="Romanian">Romanian</span>
                                    <span data-value="Russian">Russian</span>
                                    <span data-value="Serbian">Serbian</span>
                                    <span data-value="Sinhala">Sinhala</span>
                                    <span data-value="Slovak">Slovak</span>
                                    <span data-value="Slovenian">Slovenian</span>
                                    <span data-value="Somali">Somali</span>
                                    <span data-value="Spanish">Spanish</span>
                                    <span data-value="Sundanese">Sundanese</span>
                                    <span data-value="Swahili">Swahili</span>
                                    <span data-value="Swedish">Swedish</span>
                                    <span data-value="Tagalog">Tagalog</span>
                                    <span data-value="Tajik">Tajik</span>
                                    <span data-value="Tamil">Tamil</span>
                                    <span data-value="Telugu">Telugu</span>
                                    <span data-value="Thai">Thai</span>
                                    <span data-value="Turkish">Turkish</span>
                                    <span data-value="Ukrainian">Ukrainian</span>
                                    <span data-value="Urdu">Urdu</span>                                 
                                    <span data-value="Uzbek">Uzbek</span>
                                    <span data-value="Vietnamese">Vietnamese</span>
                                    <span data-value="Welsh">Welsh</span>
                                    <span data-value="Xhosa">Xhosa</span>
                                    <span data-value="Yiddish">Yiddish</span>
                                    <span data-value="Yoruba">Yoruba</span>
                                    <span data-value="Zulu">Zulu</span>
                                </div>
                            </div>
                        </div>

                        <div class="btn-holder">
                            <button type="button" id="searchBtnHeader">
                                <img src="https://images.ishallwin.com/search-icon.webp" alt="Search">
                            </button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
}

<style>
    .dictionary-word {
        color: #15a18d;
    }

    .dictionary-from.banner-form {
        position: relative;
    }

    .custom-select-wrapper {
        user-select: none;
        padding: 8px 20px;
        border-left: 1px solid #c8c8c8;
    }

    .custom-select {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

        .custom-select .arrow {
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #15a18d;
            margin-left: 10px;
            transition: transform .2s;
        }

    .custom-options {
        position: absolute;
        top: 80%;
        left: 0;
        right: 0;
        background: #fff;
        border: 1px solid #15a18d;
        border-radius: 5px;
        margin-top: 5px;
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        z-index: 10;
        max-height: 400px;
        overflow-y: auto;
    }

        .custom-options .search-box {
            padding: 5px;
            border-bottom: 2px solid #ddd;
            flex: 1 1 100%;
        }

        .custom-options input {
            width: 100%;
            padding: 6px 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .custom-options span {
            padding: 10px;
            cursor: pointer;
            flex: 1 1 33%;
            min-width: 150px;
            transition: 0.2s;
        }

            .custom-options span:hover {
                background: #15a18d;
                color: #fff;
            }

    .custom-select-wrapper.open .custom-options {
        display: flex;
    }

    .custom-select-wrapper.open .custom-select .arrow {
        transform: rotate(180deg);
    }

    .dictionary-row {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        margin-bottom: 35px;
    }

        .dictionary-row .dictionary-boxes {
            min-width: 300px;
            min-height: 200px;
            width: 45%;
            flex: 1;
            padding: 25px;
            background: rgba(54, 229, 124, 0.1);
            border: 1px solid #36e57c;
            border-radius: 10px;
            position: relative;
        }

    .dictionary-boxes .meaning-bx {
        margin: 15px 0px;
    }

        .dictionary-boxes .meaning-bx li {
            color: #383838;
            line-height: 1.18;
            margin-bottom: 6px;
        }

    .dictionary-speaker {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .dictionary-speaker h2 {
            font-weight: bold !important;
        }

    .dictionary-boxes .spk-icon svg {
        cursor: pointer;
        color: #15a18d;
        fill: #15a18d;
        width: 35px;
    }

    .dictionary-boxes .spk-icon {
        position: absolute;
        bottom: 10px;
        right: 20px;
    }

    .dictionary-boxes .banner-form {
        margin: 0px !important;
    }

    .translation-result p {
        font-size: 20px;
        margin-top: 15px;
    }

        .translation-result p.urdu {
            font-size: 25px;
            text-align: right;
            font-weight: 600;
        }

    .responsive-table span.urdu {
        font-size: 20px;
        text-align: right;
        font-weight: 500;
        display: block;
    }

    .dictionary-synonyms-list {
        padding: 25px;
        background: rgba(54, 229, 124, 0.1);
        border: 1px solid #36e57c;
        border-radius: 10px;
        margin: 15px 0px 25px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

        .dictionary-synonyms-list a {
            background-color: #ffffff;
            padding: 5px 14px;
            border-radius: 50px;
        }

    .dictionary-by-words {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 20px;
    }

        .dictionary-by-words .by-words-colm {
            min-width: 300px;
            min-height: 200px;
            flex: 1 1 46%;
            padding: 30px;
            background: rgba(54, 229, 124, 0.1);
            border: 1px solid #36e57c;
            border-radius: 10px;
        }

    .dictionary-letters {
        margin: 20px 0px 0px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

        .dictionary-letters a {
            display: flex;
            align-items: center;
            font-size: 19px;
            color: black;
            cursor: pointer;
            justify-content: center;
            width: 42px;
            height: 42px;
            border-radius: 8px;
            background-color: #36e57c;
            transition: all 0.3s ease;
        }

            .dictionary-letters a:hover {
                background-color: #4EA28D;
            }

    .by-words-colm.words-by-urdu {
        flex-basis: 100%;
    }

        .by-words-colm.words-by-urdu .dictionary-letters {
            direction: rtl !important;
        }

            .by-words-colm.words-by-urdu .dictionary-letters a {
                font-size: 23px;
            }

    span.dict-urdu-word {
        font-size: 20px;
        display: block;
        text-align: right;
    }

    .responsive-table td {
        align-content: center;
    }

    .translator-btns {
        text-align: center;
    }

        .translator-btns a.text-btn {
            margin: 0px 8px 30px 0px !important;
        }
</style>

<div id="main">
    <div class="college-news-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    @if (ViewBag.CmsData != null && ViewBag.CmsData.Desc1 != null)
                    {
                        @Html.Raw(ViewBag.CmsData.Desc1)
                    }

                    <div class="dictionary-by-words">

                        @if (Model.lang1.Name == "English")
                        {
                            <div class="by-words-colm">
                                <h3>Find English Words Alphabetically – Quick A to Z Search</h3>
                                <div class="dictionary-letters">
                                    <a href="/dictionary/english-words-with-a">A</a>
                                    <a href="/dictionary/english-words-with-b">B</a>
                                    <a href="/dictionary/english-words-with-c">C</a>
                                    <a href="/dictionary/english-words-with-d">D</a>
                                    <a href="/dictionary/english-words-with-e">E</a>
                                    <a href="/dictionary/english-words-with-f">F</a>
                                    <a href="/dictionary/english-words-with-g">G</a>
                                    <a href="/dictionary/english-words-with-h">H</a>
                                    <a href="/dictionary/english-words-with-i">I</a>
                                    <a href="/dictionary/english-words-with-j">J</a>
                                    <a href="/dictionary/english-words-with-k">K</a>
                                    <a href="/dictionary/english-words-with-l">L</a>
                                    <a href="/dictionary/english-words-with-m">M</a>
                                    <a href="/dictionary/english-words-with-n">N</a>
                                    <a href="/dictionary/english-words-with-o">O</a>
                                    <a href="/dictionary/english-words-with-p">P</a>
                                    <a href="/dictionary/english-words-with-q">Q</a>
                                    <a href="/dictionary/english-words-with-r">R</a>
                                    <a href="/dictionary/english-words-with-s">S</a>
                                    <a href="/dictionary/english-words-with-t">T</a>
                                    <a href="/dictionary/english-words-with-u">U</a>
                                    <a href="/dictionary/english-words-with-v">V</a>
                                    <a href="/dictionary/english-words-with-w">W</a>
                                    <a href="/dictionary/english-words-with-x">X</a>
                                    <a href="/dictionary/english-words-with-y">Y</a>
                                    <a href="/dictionary/english-words-with-z">Z</a>
                                </div>
                            </div>
                        }
                        else if (Model.lang1.Name == "Urdu")
                        {

                            <div class="by-words-colm words-by-urdu">

                                <h3>Browse Urdu Words by Alphabet</h3>
                                <div class="dictionary-letters">
                                    <a href="/dictionary/urdu-words-with-آ">آ</a>
                                    <a href="/dictionary/urdu-words-with-ا">ا</a>
                                    <a href="/dictionary/urdu-words-with-ب">ب</a>
                                    <a href="/dictionary/urdu-words-with-پ">پ</a>
                                    <a href="/dictionary/urdu-words-with-ت">ت</a>
                                    <a href="/dictionary/urdu-words-with-ٹ">ٹ</a>
                                    <a href="/dictionary/urdu-words-with-ث">ث</a>
                                    <a href="/dictionary/urdu-words-with-ج">ج</a>
                                    <a href="/dictionary/urdu-words-with-چ">چ</a>
                                    <a href="/dictionary/urdu-words-with-ح">ح</a>
                                    <a href="/dictionary/urdu-words-with-خ">خ</a>
                                    <a href="/dictionary/urdu-words-with-د">د</a>
                                    <a href="/dictionary/urdu-words-with-ڈ">ڈ</a>
                                    <a href="/dictionary/urdu-words-with-ذ">ذ</a>
                                    <a href="/dictionary/urdu-words-with-ر">ر</a>
                                    <a href="/dictionary/urdu-words-with-ڑ">ڑ</a>
                                    <a href="/dictionary/urdu-words-with-ز">ز</a>
                                    <a href="/dictionary/urdu-words-with-ژ">ژ</a>
                                    <a href="/dictionary/urdu-words-with-س">س</a>
                                    <a href="/dictionary/urdu-words-with-ش">ش</a>
                                    <a href="/dictionary/urdu-words-with-ص">ص</a>
                                    <a href="/dictionary/urdu-words-with-ض">ض</a>
                                    <a href="/dictionary/urdu-words-with-ط">ط</a>
                                    <a href="/dictionary/urdu-words-with-ظ">ظ</a>
                                    <a href="/dictionary/urdu-words-with-ع">ع</a>
                                    <a href="/dictionary/urdu-words-with-غ">غ</a>
                                    <a href="/dictionary/urdu-words-with-ف">ف</a>
                                    <a href="/dictionary/urdu-words-with-ق">ق</a>
                                    <a href="/dictionary/urdu-words-with-ک">ک</a>
                                    <a href="/dictionary/urdu-words-with-گ">گ</a>
                                    <a href="/dictionary/urdu-words-with-ل">ل</a>
                                    <a href="/dictionary/urdu-words-with-م">م</a>
                                    <a href="/dictionary/urdu-words-with-ن">ن</a>
                                    <a href="/dictionary/urdu-words-with-و">و</a>
                                    <a href="/dictionary/urdu-words-with-ھ">ھ</a>
                                    <a href="/dictionary/urdu-words-with-ہ">ہ</a>
                                    <a href="/dictionary/urdu-words-with-ی">ی</a>
                                    <a href="/dictionary/urdu-words-with-ے">ے</a>
                                </div>
                            </div>

                        }


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-sec level-wise" style="margin-bottom: 30px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Explore the Meaning of Words with the Best Complies Dictionary Online</h2>
                    <div class="subjects-tble2 diclinkclr">
                        <ul>
                            <li>
                                <a href="/dictionary/english-to-english-dictionary">
                                    <span>
                                        English To English Dictionary
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/dictionary/english-to-urdu-dictionary">
                                    <span>
                                        English To Urdu Dictionary
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/dictionary/english-to-hindi-dictionary">
                                    <span>
                                        English To Hindi Dictionary
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/dictionary/urdu-to-english-dictionary">
                                    <span>
                                        Urdu To English Dictionary
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="/dictionary/urdu-to-hindi-dictionary">
                                    <span>
                                        Urdu To Hindi Dictionary
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/dictionary/english-to-urdu-translator">
                                    <span>
                                        Translate English To Urdu
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/dictionary/urdu-to-english-translator">
                                    <span>
                                        Translate Urdu To English
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-sec level fee-box">
        <div class="container">
            <div class="row">
                @await Html.PartialAsync("_GoogleAd")
                <div class="col-lg-12">
                    <h2>@(Model.lang1.Name) Words with @(ViewBag.Alphabet) and Examples in Sentences</h2>
                    <p>@(ViewBag.CmsData?.MetaDesc ?? "Explore words starting with " + ViewBag.Alphabet + " in " + Model.lang1.Name)</p>
                    <div class="responsive-table">
                        <table class="table loadmore-table">
                            <thead>
                                <tr>
                                    <th>Sr. #</th>
                                    <th>Word</th>
                                    <th>Definition</th>
                                    <th>Example Sentence</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int counter = 1;
                                    foreach (var word in Model.words)
                                    {
                                        <tr style="display: table-row;">
                                            <td>@counter</td>
                                            <td><a href="/dictionary/@word.Word1-meaning-in-@Model.lang2.Name.ToLower()">@word.Word1</a></td>
                                            <td>@word.Definition</td>
                                            <td>@word.Example</td>
                                        </tr>
                                        counter++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="translator-btns">
                        <a href="javascript:void(0)" class="text-btn tbl-load-more" style="display: none;">Load More</a>
                    </div>
                </div>

                <!-- Table Load More Function  -->
                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        const tables = document.querySelectorAll(".loadmore-table");
                        const rowsPerPage = 10;

                        tables.forEach(function (table, index) {
                            const rows = table.querySelectorAll("tbody tr");
                            const btn = table.closest(".col-lg-12").querySelector(".tbl-load-more");

                            let visibleRows = rowsPerPage;

                            function updateRows() {
                                rows.forEach((row, i) => {
                                    row.style.display = i < visibleRows ? "table-row" : "none";
                                });

                                // Show load more button only if there are more rows to show
                                if (rows.length > rowsPerPage) {
                                    btn.style.display = "inline-block";
                                }

                                if (visibleRows >= rows.length) {
                                    btn.style.display = "none";
                                }
                            }

                            if (btn) {
                                btn.addEventListener("click", function () {
                                    btn.textContent = "Loading...";
                                    setTimeout(() => {
                                        visibleRows += rowsPerPage;
                                        updateRows();
                                        btn.textContent = "Load More";
                                    }, 500);
                                });
                            }

                            updateRows();
                        });
                    });
                </script>
            </div>
        </div>
    </div>


    <!-- Feed Back  -->
    <!-- Add Banner  -->
    <div class="new-ads-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    @await Html.PartialAsync("_maincontenttopbanner")


                </div>

            </div>
        </div>
    </div>
</div>





<script src="https://code.jquery.com/jquery-3.6.0.min.js" defer=""></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" defer=""></script>
<script src="/js-files/combine.js" defer=""></script>
<script src="/js-files/js/responsive.menu.js" defer=""></script>

<script src="/js-files/js/functions.js" defer=""></script>

<script>

    // Check Base64 string

    function isBase64(str) {

        try {

            return btoa(atob(str)) === str;

        } catch {

            return false;

        }

    }



    // Decode Base64

    function decodeBase64Url(base64Url) {

        try {

            return decodeURIComponent(escape(window.atob(base64Url)));

        } catch {

            return base64Url;

        }

    }



    document.addEventListener("DOMContentLoaded", function () {

        document.querySelectorAll("a.decode-banner-url").forEach(function (a) {

            a.addEventListener("click", function (e) {

                var encodedUrl = a.getAttribute("data-url");



                if (encodedUrl && isBase64(encodedUrl)) {

                    e.preventDefault();

                    var decodedUrl = decodeBase64Url(encodedUrl);

                    window.open(decodedUrl, "_blank");

                }

            });

        });

    });

</script>
<script>

    let englishWord = '';
    let selectedLanguageMain = ''; // For main content search (second search bar)
    let selectedLanguageHeader = ''; // For header search (first search bar)

    // Initialize when page loads
    document.addEventListener('DOMContentLoaded', function() {
        initializeHeaderCustomSelect(); // Header search (first search bar)
    });


    // Header Custom Select Functionality (first search bar - requires new word input)
    function initializeHeaderCustomSelect() {
        const customSelectHeader = document.getElementById('customSelectSearch');
        const customOptionsHeader = customSelectHeader.nextElementSibling; // The .custom-options div right after customSelectSearch
        const optionSearchHeader = document.getElementById('optionSearchHeader');
        const optionsHeader = customOptionsHeader.querySelectorAll('span[data-value]');
        const selectedSpanHeader = customSelectHeader.querySelector('.selected');
        const searchBtnHeader = document.getElementById('searchBtnHeader');
        const wordInputHeader = document.querySelector('.ss-banner-inner .banner-form input[type="text"]');
        const customSelectWrapperHeader = customSelectHeader.parentElement;

        console.log('Initializing header search bar:', { customSelectHeader, customOptionsHeader, optionSearchHeader, options: optionsHeader.length });

        // Toggle dropdown using CSS classes
        customSelectHeader.addEventListener('click', function(e) {
            e.stopPropagation();
            customSelectWrapperHeader.classList.toggle('active');
            customOptionsHeader.classList.toggle('active');

            if (customOptionsHeader.classList.contains('active')) {
                optionSearchHeader.focus();
            }
        });

        // Handle option selection
        optionsHeader.forEach(option => {
            option.addEventListener('click', function() {
                selectedLanguageHeader = this.getAttribute('data-value');
                const languageName = this.textContent;
                selectedSpanHeader.textContent = languageName;

                // Close dropdown
                customSelectWrapperHeader.classList.remove('active');
                customOptionsHeader.classList.remove('active');

                console.log('Header search bar selected:', selectedLanguageHeader);
            });
        });

        // Search filter functionality
        optionSearchHeader.addEventListener('input', function() {
            const searchTerm = this.value.toLowerCase();
            let hasVisibleOptions = false;

            optionsHeader.forEach(option => {
                const text = option.textContent.toLowerCase();
                if (text.includes(searchTerm)) {
                    option.style.display = 'block';
                    hasVisibleOptions = true;
                } else {
                    option.style.display = 'none';
                }
            });

            // Show a message if no options match
            const noResults = customOptionsHeader.querySelector('.no-results');
            if (!hasVisibleOptions && !noResults) {
                const noResultsMsg = document.createElement('div');
                noResultsMsg.className = 'no-results';
                noResultsMsg.textContent = 'No languages found';
                noResultsMsg.style.padding = '10px 15px';
                noResultsMsg.style.color = '#666';
                noResultsMsg.style.fontStyle = 'italic';
                customOptionsHeader.appendChild(noResultsMsg);
            } else if (hasVisibleOptions && noResults) {
                noResults.remove();
            }
        });

        // Search button functionality - requires new word
        searchBtnHeader.addEventListener('click', function() {
            performHeaderSearch();
        });

        // Allow Enter key to trigger search in both search box and word input
        optionSearchHeader.addEventListener('keypress', function(e) {
            if (e.key === 'Enter') {
                performHeaderSearch();
            }
        });

        wordInputHeader.addEventListener('keypress', function(e) {
            if (e.key === 'Enter') {
                performHeaderSearch();
            }
        });

        // Close dropdown when clicking outside
        document.addEventListener('click', function() {
            customSelectWrapperHeader.classList.remove('active');
            customOptionsHeader.classList.remove('active');
        });
    }



    // Perform search for header (first search bar - requires new word input)
    function performHeaderSearch() {
        console.log('Header search triggered. Selected language:', selectedLanguageHeader);

        if (!selectedLanguageHeader) {
            selectedLanguageHeader = "Urdu";
            // alert('Please select a language first from the header search bar');
            // return;
        }

        // Get the word from header input
        const wordInput = document.querySelector('.ss-banner-inner .banner-form input[type="text"]');
        const wordToSearch = wordInput.value.trim();

        if (!wordToSearch) {
            alert('Please enter a word to search');
            wordInput.focus();
            return;
        }

        // Default from language is English for header search
        const fromLanguage = 'en-gb';

        // Redirect to the new language page
        window.location.href = `/dictionary/${wordToSearch.toLowerCase().trim().replace(/\s+/g, "-")}-meaning-in-${selectedLanguageHeader.toLowerCase().trim()}`;
    }

</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const wrappers = document.querySelectorAll(".custom-select-wrapper");

        function closeAll(except = null) {
            wrappers.forEach(w => {
                if (w !== except) w.classList.remove("open");
            });
        }

        wrappers.forEach(wrapper => {
            const customSelect = wrapper.querySelector(".custom-select");
            const searchInput = wrapper.querySelector(".search-box input");
            const optionItems = Array.from(wrapper.querySelectorAll(".custom-options span[data-value]"));
            const selected = wrapper.querySelector(".custom-select .selected");

            // Toggle on header click
            customSelect.addEventListener("click", function (e) {
                e.stopPropagation();
                const willOpen = !wrapper.classList.contains("open");
                closeAll(willOpen ? wrapper : null);
                wrapper.classList.toggle("open");
                if (willOpen && searchInput) {
                    // focus search when opened
                    setTimeout(() => searchInput.focus(), 0);
                }
            });

            // Delegate clicks inside wrapper: only option clicks close+select
            wrapper.addEventListener("click", function (e) {
                e.stopPropagation();
                const option = e.target.closest("span[data-value]");
                if (option && wrapper.contains(option)) {
                    selected.textContent = option.textContent;
                    wrapper.dataset.value = option.dataset.value;
                    wrapper.classList.remove("open");
                }
                // other clicks inside wrapper (like search input) do nothing => dropdown stays open
            });

            // Live search (filter only this wrapper's options)
            if (searchInput) {
                searchInput.addEventListener("input", function () {
                    const filter = this.value.toLowerCase().trim();
                    optionItems.forEach(option => {
                        option.style.display = option.textContent.toLowerCase().includes(filter) ? "" : "none";
                    });
                    // keep it open while typing
                    if (!wrapper.classList.contains("open")) wrapper.classList.add("open");
                });
            }
        });

        // Click outside any wrapper closes all
        document.addEventListener("click", function (e) {
            if (!e.target.closest(".custom-select-wrapper")) {
                closeAll();
            }
        });

        // Optional: close on Escape
        document.addEventListener("keydown", function (e) {
            if (e.key === "Escape") closeAll();
        });
    });

</script>





<script src="//anymind360.com/js/3995/ats.js"></script>