@model List<IKDFrontEnd.ViewModels.TutorCardViewModel>

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	var random = new Random();
	var colorClasses = new[] { "sh-green", "sh-blue", "sh-purple", "sh-red" };
}
@section MetaData {
	<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta property="og:title" content="@ViewBag.CmsData.MetaTitle" />
			<meta property="og:description" content="@ViewBag.CmsData.MetaDesc" />
			<meta property="og:image" content="" />
			<meta name="description" content="@ViewBag.CmsData.MetaDesc">
			<meta name="keywords" content="@ViewBag.CmsData.MetaKeys">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			
			<title>@ViewBag.CmsData.MetaTitle</title>
}
@section header {
	<!-- Header Start -->
	<header id="header">
		<div class="main-nav">
			<div class="container">
				<div class="row">
					<div class="col-lg-11">
						<partial name="_NavBarPartial" />
					</div>
					<div class="col-lg-1">
						<ul class="login-option">
							<li><a aria-label="link" href="#"><img class="lazy-load" src="https://images.ishallwin.com/nav-icons/search-icon.webp" alt="image" /></a></li>
							<li><a aria-label="link" href="#"><img class="lazy-load" src="https://images.ishallwin.com/nav-icons/user-icon.webp" alt="image" /></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Header End -->
}
@section innerbanner {
	<div class="ss-banner-inner">
		<div class="ss-container">
			<div class="ss-row">
				<div class="ss-col-lg-12">
					<div class="ss-text-holder">
											<h1>@ViewBag.CmsData.Heading</h1>
						</div>
				</div>
			</div>
		</div>
	</div>

}
<!-- Main Start -->
<div id="main">
	<div class="content-sec" style="padding: 30px 0 20px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p>
@ViewBag.CmsData.Desc1
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				@await Html.PartialAsync("_maincontenttopbanner")
			</div>
		</div>
	</div>
	<div class="content-sec">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
             		<h2>Featured Tutors</h2>
					<div class="institute-list">
						<ul id="tutor-list" class="skills-tutors">
							@foreach (var tutor in Model)
							{
								var slug = tutor.TutorName.ToLower().Replace(" ", "-") + "-home-tutor-" + tutor.MemberId + ".aspx";

								<li>
									<a aria-label="link" href="/tutors/@slug">
										<div class="figure">
											<img alt="@tutor.TutorName" src="@tutor.ProfileImage" />
										</div>
										<div class="author" style="height:200px">
											<h4>@tutor.TutorName</h4>
											<span>@tutor.CityName | @tutor.CourseName</span>
											<p>Teaching</p>
											<span>@string.Join(", ", tutor.Subjects)...</span>
										</div>
									</a>
								</li>
							}
						</ul>

						<style>
							.button {
								display: inline-block;
								background: #434343;
								font-size: 16px;
								border: none;
								padding: 5px 20px;
								color: #fff;
								border-radius: 5px;
								margin: 0;
								text-decoration: none;
								cursor: pointer;
							}

								.button:hover,
								.button:focus,
								.button.load-more {
									background-color: #15A18D;
									border-color: #15A18D;
									color: #fff;
								}

							.load-more span {
								animation-name: loading;
								animation-duration: 1.2s;
								animation-iteration-count: infinite;
								animation-fill-mode: both;
								background-color: #15A18D;
								border-color: #15A18D;
								color: #fff;
							}

							@@keyframes loading {
								0% {
									opacity: 0;
								}

								50% {
									opacity: 1;
								}

								100% {
									opacity: 0;
								}
							}

							.load-more span:nth-child(2) {
								animation-delay: 0.2s;
							}

							.load-more span:nth-child(3) {
								animation-delay: 0.4s;
							}
						</style>

						<div class="loader" style="text-align: center; margin-bottom: 20px;">
							<a href="javascript:void(0)" class="button js-load-more" id="load-more-btn" data-skip="10">Load More</a>
						</div>

						<script>
							document.getElementById("load-more-btn").addEventListener("click", function () {
								const btn = this;
								const skip = parseInt(btn.getAttribute("data-skip"));

								const subjId = '@ViewBag.SubjectId';
								const cityId = '@ViewBag.CityId';
								const levelId = '@ViewBag.LevelId';

								// Optional: show loading animation
								btn.classList.add("load-more");
								btn.innerHTML = 'Loading <span>.</span><span>.</span><span>.</span>';

								fetch(`/tutors/LoadMore?skip=${skip}&subjId=${subjId}&cityId=${cityId}&levelId=${levelId}`)
									.then(res => res.text())
									.then(html => {
										document.getElementById("tutor-list").insertAdjacentHTML("beforeend", html);
										const newSkip = skip + 10;
										btn.setAttribute("data-skip", newSkip);
										if (html.trim() === '') {
											btn.parentElement.remove(); // No more tutors
										} else {
											btn.classList.remove("load-more");
											btn.textContent = "Load More";
										}
									})
									.catch(err => {
										console.error("LoadMore error:", err);
										btn.classList.remove("load-more");
										btn.textContent = "Load More";
									});
							});
						</script>

					</div>
				</div>
				<div class="col-lg-12">
					<div class="share-box">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="contact-sec fee-box">
	</div>
	<div class="new-ads-sec">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					@await Html.PartialAsync("_maincontentlowerbanner")
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Main End -->
