@model List<IKDFrontEnd.ViewModels.SubjectWithTutorCountViewModel>

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MetaData {
	@if (ViewBag.CmsData != null)
	{
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta property="og:title" content="@ViewBag.CmsData.MetaTitle" />
		<meta property="og:description" content="@ViewBag.CmsData.MetaDesc" />
		<meta property="og:image" content="https://www.ilmkidunya.com/images/logo.png" />
		<meta name="description" content="@ViewBag.CmsData.MetaDesc">
		<meta name="keywords" content="@ViewBag.CmsData.MetaKeys">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>@ViewBag.CmsData.MetaTitle</title>
	}
}

@section header {
		<!-- Header Start -->
		<div class="col-lg-11">
			<partial name="_JobsNavBar" />
		</div>
}
@section innerbanner {
	<div class="ss-banner-inner">
		<div class="ss-container">
			<div class="ss-row">
				<div class="ss-col-lg-12">
					<div class="ss-text-holder">
						<h1>@ViewBag.CmsData.Heading</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
}

<!-- Main Start -->
<div id="main">
	<div class="content-sec" style="padding: 30px 0 20px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p>
						@if (ViewBag.CmsData.Desc1 != null)
						{
							<style>
								p {
									margin: 0px !important;
								}

								span {
									font-size: 16px !important;
								}
							</style>
							@Html.Raw(ViewBag.CmsData.Desc1);
						}
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="content-sec level-wise">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>Tutors Available for Following Subjects</h2>
					<p>List of subjects for English medium</p>
					<ul class="admission-nav quizze-list">
						@foreach (var subject in Model)
						{
							var subjectSlug = subject.SubjectName.ToLower().Replace(" ", "-");
							<li>
								<a href="/tutors/home-tutors-for-@($"{subjectSlug}-{subject.SubjectId}.aspx")">
									<figure>
										<img src="@(!string.IsNullOrEmpty(subject.SubjectIcon) ? subject.SubjectIcon : "/images/default-subject.webp")" onerror="this.onerror=null; this.src='https://www.ilmkidunya.com/ikd-noimg.png';"  />
									</figure>
									<span style="padding-bottom:30px">@subject.SubjectName</span>
									<em>(@subject.TutorCount) Tutors</em>
								</a>
							</li>
						}
					</ul>

					<style>
						ul.admission-nav.quizze-list li a span {
							line-height: normal !important;
						}
						.content-sec.level-wise ul.admission-nav li a span {
						font-size: 13px;
						}

						.content-sec.level-wise ul.admission-nav li a em {
						font-size: 13px;
						display: block;
						text-align: center;
						font-style: normal;
						line-height: 1.5;
						}
					</style>
					<button type="button" class="load-more-button" id="loadMoreBtn">View all subjects</button>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="col-lg-12 col-md-12 col-sm-12">
					@await Html.PartialAsync("_maincontenttopbanner")
				</div>
			</div>
		</div>
	</div>

	<div class="contact-sec fee-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					@if (ViewBag.CmsData.Desc2 != null)
					{
						@Html.Raw(ViewBag.CmsData.Desc2);
					}
				</div>
			</div>
		</div>
	</div>
	<div class="new-ads-sec">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					@await Html.PartialAsync("_maincontentlowerbanner");
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Main End -->

