@model IKDFrontEnd.ViewModels.ConsultantHomeViewModel
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css-files/style/studyabroad.css" rel="stylesheet" async>
@section MetaData {
	@{
		var metaTitle = Model?.MetaData?.MetaTitle ?? "Default Title";
		var metaDesc = Model?.MetaData?.MetaDesc ?? "Default description for this page.";
		var metaKeyword = Model?.MetaData?.MetaKeyword ?? "default, keywords, here";
		
	}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta property="og:title" content="@metaTitle" />
	<meta property="og:description" content="@metaDesc" />
	<meta property="og:image" content="" />
	<meta name="description" content="@metaDesc" />
	<meta name="keywords" content="@metaKeyword" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>@metaTitle</title>
}


@section header {

	<div class="col-lg-11">

		<ul class="navigation">
			<li>
				<a aria-label="link" href="/studyabroad/">
					<img src="https://images.ishallwin.com/nav-icons/chem-nav-1.webp" alt="image" />
					Home
				</a>
			</li>
			<li>
				<a aria-label="link" href="/studyabroad/country-guides.aspx">
					<img src="https://resources.ilmkidunya.com/ikd-guides/assets/images/icons/adm-icon.png"
						 alt="image" />
					Guides
				</a>
			</li>
			<li>
				<a aria-label="link" href="/consultants/">
					<img src="https://www.ilmkidunya.com/icons/tutor.png"
						 alt="image" />
					Consultants
				</a>
			</li>
			<li>
				<a aria-label="link" href="/scholarships/topscholarship">
					<img src="https://ikddata.ilmkidunya.com/icons/ic-courses-nav-colleges-2.png"
						 alt="image" />
					Top Scholarship
				</a>
			</li>
		</ul>


	</div>

}
@section innerbanner {
	<div class="ss-banner-inner">
		<div class="ss-container">
			<div class="ss-row">
				<div class="ss-col-lg-12">
					<div class="ss-text-holder">
						<h1>@(Model?.MetaData?.Heading ?? "No Heading Available")</h1>
						<p>
							@(Model?.MetaData?.HeadingDesc ?? "No description available.")
						</p>

					</div>
				</div>
			</div>
		</div>
	</div>
}

<div id="main">

	<div class="content-sec" style="padding: 30px 0 20px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					@Html.Raw(Model?.MetaData?.Detail ?? "")


				</div>
			</div>
		</div>
	</div>
	<div class="content-sec" style="padding: 30px 0 20px;">
		<div class="container">
			<div class="row">
				@* <div class="col-lg-12">
					@Html.Raw(Model.Detail2.Replace("https://invent.ilmkidunya.com", ""))

				</div> *@
			</div>
		</div>
	</div>
	<div class="new-ads-sec">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="consultant-box">
						<div class="left-section">
							<img src="https://ikddata.ilmkidunya.com/images/ic-globe-with-consultant.png" alt="consultant icon" class="icon" />
							<h2>STUDY ABROAD CONSULTANTS</h2>
							<p>There are thousands of consultants across Pakistan in all major cities.</p>

							<select id="cityDropdown" class="city-dropdown">
								<option value="">----Select City----</option>

								@if (ViewBag.CityList != null && ((IEnumerable<dynamic>)ViewBag.CityList).Any())
								{
									foreach (var city in ViewBag.CityList)
									{
										<option value="@(city?.CityName?.ToLower()?.Replace(" ", "-") ?? "")">
											@(city?.CityName ?? "Unknown City")
										</option>
									}
								}
								else
								{
									<option disabled>No cities available</option>
								}
							</select>



							<button id="seeConsultantsBtn" class="see-consultants">SEE CONSULTANTS</button>
						</div>

						<div class="right-section">
							<a href="https://www.ilmkidunya.com/consultants/education-consultants-in-lahore.aspx" class="city-card">
								<img src="https://images.ishallwin.com/bs-chem/lahore.webp" alt="">
								<span>Lahore</span>
							</a>
							<a href="https://www.ilmkidunya.com/consultants/education-consultants-in-islamabad.aspx" class="city-card">
								<img src="https://images.ishallwin.com/bs-chem/isb.webp" alt="">
								<span>Islamabad</span>
							</a>
							<a href="https://www.ilmkidunya.com/consultants/education-consultants-in-karachi.aspx" class="city-card">
								<img src="https://images.ishallwin.com/bs-chem/karachi.webp" alt="">
								<span>Karachi</span>
							</a>
							<a href="https://www.ilmkidunya.com/consultants/education-consultants-in-peshawar.aspx" class="city-card">
								<img src="https://images.ishallwin.com/bs-chem/peshawar.webp" alt="">
								<span>Peshawar</span>
							</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content-sec" style="padding:0 0 20px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="std-consultant">
						<div class="consultant-numb-row">
							<div class="cnsltant-numbers">
								<span class="cn-numbs">319</span>
								Consultants in Pakistan
							</div>
							<div class="cnsltant-btn-bx cnsltant-numbers">
								<a href="#" class="bcme-tp-consultant-btn">Register as Consultant</a>
							</div>
						</div>
						<div class="tp-consultant-list-wrapper">
							


							<div class="tp-consultant-list">
								@if (Model?.Consultants != null && Model.Consultants.Any())
								{
									foreach (var consultant in Model.Consultants)
									{
										var url = consultant.Url ?? string.Empty;

										// Check if last character is digit (id already present)
										bool hasIdAtEnd = !string.IsNullOrEmpty(url) && char.IsDigit(url.Last());

										if (!hasIdAtEnd)
										{
											url += consultant.Id; // Add Id if not present
										}

										<a href="/consultants/@(url).aspx" class="consultan-icon-bx box-cnslt1">

											@if (consultant.PremiumMember == true)
											{
												<img class="premium-consltn"
													 src="https://ikddata.ilmkidunya.com/images/img-consultant-premimum.png" />
											}


											<img src="@consultant.Image" alt="">
											<span>@consultant.Name</span>
										</a>
									}
								}
								else
								{
									<p>No consultants found.</p>
								}
							</div>



						</div>

						<div class="cnslt-view-all-btn">
							<a href="https://www.ilmkidunya.com/consultants/all"
							   class="std-view-all-btn">
								<span>+</span>
								View All Consultants
							</a>
						</div>
					</div>


				</div>

			</div>
		</div>
	</div>



</div>


<script>
	document.getElementById("seeConsultantsBtn").addEventListener("click", function () {
		var selectedCity = document.getElementById("cityDropdown").value;

		if (selectedCity) {
			var url = `/consultants/education-consultants-in-${selectedCity}.aspx`;
			window.location.href = url;
		} else {
			alert("Please select a city.");
		}
	});
</script>


